body{
  background-color: rgba(0, 0, 0, 0.9);
}
.adminMenu{
  margin-top: 50px;;
  margin-left: 50px;
}
textarea{
  min-height: 250px;
}
.btn{
  margin-top: 20px;
  background-color: #f7f7f7;
}

.img-news{
  margin-top: 8%;
  margin-bottom: 5%;
}
.subtext{
  margin-bottom: 3%;
}



footer {position: absolute;
    left: 0; bottom: 0;
    width: 100%;
    background-color: #ffffff !important;
    color: #ffffff;
    height: 100px;
    padding-top: 10px;
}

footer a {
    color: #fefdff;
}
